#Environments
venv/
pycache/

#Secrets and API Keys
.env

#Databases and Big Data
database/*.db
database/rag_store/
*.csv


#Machine Learning Models
models/*.json
*.pth
.cache.sqlite
.env
.env.backup
