fastapi>=0.100.0
uvicorn>=0.22.0
xgboost==3.2.0
pandas==2.3.3
numpy==2.2.4
scikit-learn
pydantic
streamlit
tzdata
requests          
groq              
openai            
langchain     
beautifulsoup4  
langchain-groq
langchain-community
huggingface-hub
python-dotenv
fastapi-cache2
