# --- Backend & API ---
fastapi
uvicorn
pydantic
fastapi-cache2
python-dotenv

# --- Database & ORM ---
SQLAlchemy

# --- Machine Learning & Data Processing ---
xgboost
pandas
numpy
scikit-learn
tzdata

# --- Data Ingestion Pipelines ---
requests
entsoe-py
openmeteo-requests
requests-cache
retry-requests

# --- LLM & RAG Stack ---
groq
openai
langchain
langchain-groq
langchain-community
huggingface-hub
beautifulsoup4

# --- Frontend ---
streamlit
# --- Testing & CI/CD ---
pytest
sentence_transformers
