entsoe-py
faiss-cpu
fastapi
fastapi-cache2
groq
holidays
httpx
lancedb
langchain-community
langchain-groq
langchain-huggingface
numpy
openmeteo-requests
pandas
pydantic
PyQt6
PyQt6-sip
pyqtgraph
pytest
python-dotenv
requests
requests-cache
retry-requests
scikit-learn
sentence-transformers
SQLAlchemy
streamlit
tenacity
torch
vectorbt
xgboost
